<%- include("partials/header") %> 
<h1 style="word-wrap: break-word;"><%= postTitle %> </h1>
<p style="word-wrap: break-word;"><%- postBody %> </p>
<p style="word-wrap: break-word; overflow: visible;"><pre><code><%- postCode %></code></pre></p>
<%- include("partials/footer") %> 